/tmp.*
/local
*.log
*.pyc
__pycache__
docker-nom/build/
\#*\#
.\#*
venv/
*.egg-info/
docs/build/
.coverage*
htmlcov/
.ipynb_checkpoints/
.pytest_cache
build/
dist/

# Subversion
.svn


# Vim (and some others)
*~
*.swp

# Eclipse
.cache
.classpath
.project
.settings
build-eclipse

# Gradle
.gradle
gradle-app.setting

# Sublime Text
*.sublime-workspace

# NetBeans
.netbeans
catalog.xml
generated
nb-configuration.xml

# Mac OS
.DS_Store
__MACOSX

# Intellij
.idea/
.idea/workspace.xml
.idea/libraries
.idea/kotlinc.xml
.idea/tasks.xml
.idea/dictionaries
.idea/scopes
.idea/artifacts
.idea/uiDesigner.xml
.idea/dataSources.local.xml
.idea/dataSources.local.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources
.idea/kotlinc.xml
.idea/sonar*
*.iws
*.iml
.idea/compiler.xml
.idea/kotlinc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml

# vscode
.vscode

# dask
dask-worker-space/

# Generated data
*.csv
*.png