# This is our manually-curated lists of requirements, which we have not pinned down to specific versions.
#
# We periodically run 'pip freeze' on this to generate requirements_freeze.txt, which pins dependencies to
# versions that are known to be compatible with LEAP.

click
coveralls
dask
distributed
flake8
gym
jupyter
m2r
matplotlib
nbconvert
nbformat
networkx
numpy
pandas
Pillow
pytest
pytest-cov
python-coveralls
sphinx
sphinx_rtd_theme
toolz
