# This is our manually-curated lists of requirements, which we have not pinned down to specific versions.
#
# This is more complete than the install_requires list used by setup.py for the package (which only contains
# the bare minimal dependencies required by LEAP's core features).
#
# We periodically run 'pip freeze' on this to generate requirements_freeze.txt, which pins dependencies to
# versions that are known to be compatible with LEAP.

click
coveralls
dask
distributed
flake8
gym
jupyter
matplotlib
nbconvert
nbformat
networkx
numpy
pandas
Pillow
pytest
pytest-cov
python-coveralls
sphinx
sphinx_rtd_theme
toolz
