alabaster==0.7.12
anki @ file:///build/anki/src/anki/dist/anki-2.1.35-py3-none-any.whl
ankirspy @ file:///build/anki/src/anki/dist/ankirspy-2.1.35-cp39-cp39-manylinux1_x86_64.whl
appdirs==1.4.4
aqt @ file:///build/anki/src/anki/dist/aqt-2.1.35-py3-none-any.whl
argon2-cffi==20.1.0
asn1crypto==1.4.0
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
Brlapi==0.8.0
btrfsutil==5.9
CacheControl==0.12.6
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
contextlib2==0.6.0.post1
coverage==5.3.1
coveralls==2.2.0
cryptography==3.3.1
cycler==0.10.0
dask==2020.12.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distributed==2020.12.0
distro==1.5.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
flake8==3.8.4
Flask==1.1.2
Flask-Cors==3.0.9
future==0.18.2
gym==0.18.0
HeapDict==1.0.1
html5lib==1.1
idna==2.10
imagesize==1.2.0
importlib-metadata==3.3.0
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
-e git+https://github.com/AureumChaos/LEAP.git@be471fc945dd7e8e8df00d1a2f807c57a072b1d6#egg=leap_ec
lensfun==0.3.95
libfdt==1.6.0
libvirt-python==6.4.0
lit==0.10.1.dev0
louis==3.16.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
mistune==0.8.4
msgpack==1.0.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netsnmp-python==1.0a1
networkx==2.5
notebook==6.1.5
numpy==1.19.4
ordered-set==4.0.2
orjson @ file:///build/python-orjson/src/python-orjson-3.4.6/target/wheels/orjson-3.4.6-cp39-cp39-manylinux1_x86_64.whl
packaging==20.8
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
pep517==0.9.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pluggy==0.13.1
ply==3.11
progress==1.5
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.12.4
psutil==5.8.0
ptyprocess==0.6.0
pwquality==1.4.4
py==1.10.0
PyAudio==0.2.11
pycairo==1.20.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyglet==1.5.0
Pygments==2.7.3
PyGObject==3.38.0
PyOpenGL==3.1.5
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.2.1
pytest-cov==2.10.1
python-coveralls==2.9.3
python-dateutil==2.8.1
pytz==2020.4
pyxdg==0.26
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
scipy==1.5.4
seaborn==0.11.1
Send2Trash==1.5.0
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.3.0
soupsieve==2.1
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tblib==1.7.0
team==1.0
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
urllib3==1.26.1
waitress==1.4.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zict==2.0.0
zipp==3.4.0
